<div class="row d-flex justify-content-center">
    <div class="col-4">
        <img src="../../../assets/logo.png" class="card-img-top" style="object-fit: none" alt="trui logo">
        <div class="card shadow-sm bg-white border border-primary p-4" style="border-radius: 5%; border: none;">
            <div class="card-body d-flex flex-column justify-content-center border border-danger">
                
                <!-- <div class="header"> -->
                    
                <!-- </div> -->
                <!-- <div class="row"> -->
                <div>
                    <div class="text-center mb-4">
                        <h1>Wypełnij formularz</h1>
                        <h2>Skontaktujemy się z Tobą najszybciej jak to będzie możliwe</h2>
                    </div>
                    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input 
                                id="name" 
                                type="text" 
                                class="form-control bg-gray" 
                                [ngClass]="{'is-invalid': submitted && frm.name.errors}"
                                formControlName="name">
                            <label class="form-control-label" for="name">Nazwa firmy / Imię i nazwisko<span class="orange">*</span></label>
                        </div>
                        <div class="form-group">
                            <input 
                                id="nip" 
                                type="text" 
                                class="form-control" 
                                [ngClass]="{'is-invalid': submitted && frm.nip.errors}"
                                formControlName="nip">
                            <label class="form-control-label" for="nip"><small>Numer NIP<span class="orange">*</span></small></label>
                        </div>
                        <div class="form-group">
                            <input 
                                id="email" 
                                type="email" 
                                class="form-control shadow-sm" 
                                [ngClass]="{'is-invalid': submitted && frm.email.errors}"
                                formControlName="email">
                            <label class="form-control-label" for="email"><small>E-mail<span class="orange">*</span></small></label>
                        </div>
                        <div class="form-group">
                            <input
                                id="phone" 
                                type="text"  
                                class="form-control input-gradient" 
                                [ngClass]="{'is-invalid': submitted && frm.phone.errors}"
                                formControlName="phone">
                            <label class="form-control-label" for="phone"><small>Numer telefonu:</small></label>
                        </div>
                        <div class="form-group">
                            <input 
                                id="topic" 
                                type="text" 
                                class="form-control bg-gray" 
                                [ngClass]="{'is-invalid': submitted && frm.topic.errors}"
                                formControlName="topic">
                            <label class="form-control-label" for="topic"><small>Temat<span class="orange">*</span></small></label>
                        </div>
                        <div class="form-group">
                            <div class="col-12 ">
                                <div id="drivingLicense" class="row gx-0 bg-gray drivingLicense">
                                    <div class="col-8">
                                        <small><label  for="drivingLicense">Czy posiadasz prawo jazdy kat. B?</label></small>
                                    </div>
                                    <div class="col-2">
                                        <label class="radio-inline radio-container">
                                            <input 
                                                name="drivingLicense"  
                                                id="drivingLicenseYes" 
                                                value="yes" 
                                                class="" 
                                                [checked]="this.frm.drivingLicenseYes.value"
                                                [ngClass]="{'mutted-radio': !this.frm.drivingLicenseYes.value}"
                                                type="radio" /><small >Tak</small>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <label class="radio-inline radio-container">
                                            <input 
                                            name="drivingLicense" 
                                            id="drivingLicenseNo" 
                                            value="no" 
                                            class="" 
                                            [checked]="this.frm.drivingLicenseNo.value"
                                            type="radio" /><small>Nie</small>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <textarea  type="text" class="form-control" rows="3" id="message" name="message"></textarea> 
                            <label class="form-control-label" for="message"><small>Treść wiadomości:</small></label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="selectAll" (click)="selectAll()">
                            <label class="form-check-label" for="selectAll">
                              Zaznacz wszystkie zgody
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="marketingContact" [checked]="this.frm.marketingContact.value">
                            <label class="form-check-label" for="marketingContact">
                              Wyrażam zgodę na przetwarzanie moich danych osobowych podanych przeze mnie w powyższym formularzu w celu kontaktowym.<span class="orange">*</span>
                            </label>
                        </div>
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" value="" id="telephoneContact" [checked]="this.frm.telephoneContact.value">
                            <label class="form-check-label" for="telephoneContact">
                              Wyrażam zgodę na kontakt telefoniczny w sprawach marketingowych.
                            </label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="submit-btn"><b>Wyślij wiadomość</b></button> 
                        </div>
                      </form>
                    </div>
                <!-- </div> -->
            </div>
          </div>
    </div>
</div>

