.form-group {
    position: relative;
    min-height: 85px;
  }
  
  input.form-control {
    height: 73px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
  }
  
  label.form-control-label {
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    top: 10px;
    left: 10px;
  }

.submit-btn{
    width:241px;
    height: 60px;
    border-radius: 30px;
    border: 0px;
    background-color: #40DE4E;
    color: #ffffff;
}

.form-control:focus {
    border: 3px solid #fb6603;
    // border-color: #fb6603;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(255, 0, 0, 0.6);
  }

.header{
    background-image: src("../../../assets/logo.png");
    // background-color: red;
    width:200px;
    height: 200px;
}

input{
    border-radius: 10px;
    
   
}
.bg-gray{
    background-color: #f9f9f9;
    // background-color: #8b2929;
}
.input-gradient{
    background: rgb(249,249,249);
    background: linear-gradient(0deg, rgba(249,249,249,1) 0%, rgba(233,233,233,1) 100%);
}

.orange{
    color:#fb6603;
}
textarea{
    height: 150px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #f9f9f9;
    border: none;
    resize: none;
    outline: none;
}

.drivingLicense{
    padding: 10px 0 0 10px;
    background-color: #f9f9f9;
    width:100%;
    height: 73px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 10px;
    // position: absolute;
//     top: 10px;
// left: 10px;
}

h1{
    font-size: 26px;
    font-weight: 700;
}

h2{
    font-size: 18px;
    color:#b3b3b4;
}
.radio-container{
    display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: -2px;
    left: -30px;
    height: 24px;
    width: 24px;
    border: 3px solid #fb6603;;
    background-color: none;
    border-radius: 50%;
  }

/* On mouse-over, add a grey background color */
//   .radio-container:hover input ~ .checkmark {
//     background-color: #ccc;
//   }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
    
  .radio-container input:checked ~ .checkmark:after {
    display: block;
  }

  .radio-container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fb6603;
  }
  .mutted-radio{

  }